@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/globals.css */

:root {
  --primary-color: #000000;
  
  --royal-primary-color: #C2A378;
  --royal-secondary-mid-color: #D1BA97;
  --royal-secondary-last-color: #978E82;

  --royal-linear-gradient-shodow-color: linear-gradient(to bottom, #71695e, #D1BA97, #C2A378 );

  --font-family: "Arial", sans-serif;
}

body {
  background-color: var(--primary-color);
  color: var(--royal-primary-color);
  font-family: var(--font-family);
}
